{
  "openapi": "3.0.1",
  "info": {
    "title": "Data Fabric Entity Ingestion API",
    "description": "Create, update, replace, and delete authorization context entities in Reva Data Fabric.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.app.reva.ai",
      "description": "Production"
    },
    {
      "url": "https://api.preview.reva.ai",
      "description": "Preview"
    },
    {
      "url": "https://api.dev.reva.ai",
      "description": "Development"
    }
  ],
  "tags": [
    {
      "name": "Entity Ingestion",
      "description": "Manage authorization context entities in Reva Data Fabric."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/ingestion/v1/entity/bulk": {
      "post": {
        "tags": [
          "Entity Ingestion"
        ],
        "summary": "Create Entities",
        "description": "Creates new entities in bulk in Reva",
        "operationId": "createEntities",
        "parameters": [
          {
            "name": "entityTypeId",
            "in": "query",
            "description": "Unique identifier for the entity type.\n\nTo find the `entityTypeId`, follow these steps:\n- From the left menu, navigate to an Application -> Environment -> Policy Store\n- Click on the \"Data\" tab.\n- Here you will see a list of all Entity Types along with their IDs. Copy the ID of the entity type you want to use.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abcde-1234"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RevaEntity"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevaEntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "BAD.REQUEST",
                  "message": "Entity ID must not be blank",
                  "data": "entityId"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Invalid Entity type ID",
                  "data": "abcd-1234"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.ALREADY.EXISTS",
                  "message": "Entity already exists for the provided entity type ID and entity ID",
                  "data": "abcd123"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occured, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Entity Ingestion"
        ],
        "summary": "Replace Entities",
        "description": "Performs a bulk replacement of existing entities in Reva using the provided data. This operation completely overwrites existing records.",
        "operationId": "replaceEntities",
        "parameters": [
          {
            "name": "entityTypeId",
            "in": "query",
            "description": "Unique identifier for the entity type.\n\nTo find the `entityTypeId`, follow these steps:\n- From the left menu, navigate to an Application -> Environment -> Policy Store\n- Click on the \"Data\" tab.\n- Here you will see a list of all Entity Types along with their IDs. Copy the ID of the entity type you want to use.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abcde-1234"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RevaEntity"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevaEntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "BAD.REQUEST",
                  "message": "Entity ID must not be blank",
                  "data": "entityId"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Invalid Entity type ID",
                  "data": "abcd-1234"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occured, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Entity Ingestion"
        ],
        "summary": "Delete All Entities",
        "description": "Delete all Entities in Reva for a given entity type id",
        "operationId": "deleteAllEntities",
        "parameters": [
          {
            "name": "entityTypeId",
            "in": "query",
            "description": "Unique identifier for the entity type.\n\nTo find the `entityTypeId`, follow these steps:\n- From the left menu, navigate to an Application -> Environment -> Policy Store\n- Click on the \"Data\" tab.\n- Here you will see a list of all Entity Types along with their IDs. Copy the ID of the entity type you want to use.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abcde-1234"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "BAD.REQUEST",
                  "message": "Entity ID must not be blank",
                  "data": "entityId"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Invalid Entity type ID",
                  "data": "abcd-1234"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occured, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Entity Ingestion"
        ],
        "summary": "Update Entities",
        "description": "Performs a bulk update of specific attributes or parent relationships of existing entities in Reva without fully overwriting them",
        "operationId": "updateEntities",
        "parameters": [
          {
            "name": "entityTypeId",
            "in": "query",
            "description": "Unique identifier for the entity type.\n\nTo find the `entityTypeId`, follow these steps:\n- From the left menu, navigate to an Application -> Environment -> Policy Store\n- Click on the \"Data\" tab.\n- Here you will see a list of all Entity Types along with their IDs. Copy the ID of the entity type you want to use.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abcde-1234"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpdateRevaEntityDto"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevaEntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "BAD.REQUEST",
                  "message": "Entity ID must not be blank",
                  "data": "entityId"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Invalid Entity type ID",
                  "data": "abcd-1234"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occured, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ingestion/v1/entity": {
      "put": {
        "tags": [
          "Entity Ingestion"
        ],
        "summary": "Replace Entity",
        "description": "Replaces an existing entity in Reva with the provided data. This is a full overwrite operation",
        "operationId": "replaceEntity",
        "parameters": [
          {
            "name": "entityTypeId",
            "in": "query",
            "description": "Unique identifier for the entity type.\n\nTo find the `entityTypeId`, follow these steps:\n- From the left menu, navigate to an Application -> Environment -> Policy Store\n- Click on the \"Data\" tab.\n- Here you will see a list of all Entity Types along with their IDs. Copy the ID of the entity type you want to use.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abcde-1234"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevaEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevaEntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "BAD.REQUEST",
                  "message": "Entity ID must not be blank",
                  "data": "entityId"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Invalid Entity type ID",
                  "data": "abcd-1234"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occured, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Entity Ingestion"
        ],
        "summary": "Create Entity",
        "description": "Creates a new entity record in Reva",
        "operationId": "createEntity",
        "parameters": [
          {
            "name": "entityTypeId",
            "in": "query",
            "description": "Unique identifier for the entity type.\n\nTo find the `entityTypeId`, follow these steps:\n- From the left menu, navigate to an Application -> Environment -> Policy Store\n- Click on the \"Data\" tab.\n- Here you will see a list of all Entity Types along with their IDs. Copy the ID of the entity type you want to use.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abcde-1234"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevaEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevaEntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "BAD.REQUEST",
                  "message": "Entity ID must not be blank",
                  "data": "entityId"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Invalid Entity type ID",
                  "data": "abcd-1234"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.ALREADY.EXISTS",
                  "message": "Entity already exists for the provided entity type ID and entity ID",
                  "data": "abcd123"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occured, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ingestion/v1/entity/{entityId}": {
      "delete": {
        "tags": [
          "Entity Ingestion"
        ],
        "summary": "Delete Entity",
        "description": "Deletes an Entity in Reva",
        "operationId": "deleteEntity",
        "parameters": [
          {
            "name": "entityTypeId",
            "in": "query",
            "description": "Unique identifier for the entity type.\n\nTo find the `entityTypeId`, follow these steps:\n- From the left menu, navigate to an Application -> Environment -> Policy Store\n- Click on the \"Data\" tab.\n- Here you will see a list of all Entity Types along with their IDs. Copy the ID of the entity type you want to use.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abcde-1234"
          },
          {
            "name": "entityId",
            "in": "path",
            "description": "Unique identifier of the entity",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 123
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "BAD.REQUEST",
                  "message": "Entity ID must not be blank",
                  "data": "entityId"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Invalid Entity type ID",
                  "data": "abcd-1234"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occured, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Entity Ingestion"
        ],
        "summary": "Update Entity",
        "description": "Updates specific attributes or parents of an existing entity in Reva without overwriting the full entity",
        "operationId": "updateEntity",
        "parameters": [
          {
            "name": "entityTypeId",
            "in": "query",
            "description": "Unique identifier for the entity type.\n\nTo find the `entityTypeId`, follow these steps:\n- From the left menu, navigate to an Application -> Environment -> Policy Store\n- Click on the \"Data\" tab.\n- Here you will see a list of all Entity Types along with their IDs. Copy the ID of the entity type you want to use.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abcde-1234"
          },
          {
            "name": "entityId",
            "in": "path",
            "description": "Unique identifier of the entity",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 123
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRevaEntityDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevaEntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "BAD.REQUEST",
                  "message": "Entity ID must not be blank",
                  "data": "entityId"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Invalid Entity type ID",
                  "data": "abcd-1234"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occured, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "AttributeValue": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the attribute to update",
            "example": "Salary"
          },
          "value": {
            "type": "string",
            "description": "New value of the attribute",
            "example": "100000"
          }
        },
        "description": "Details about an attribute update, used when path is ATTRIBUTE"
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        }
      },
      "RelationValue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the related entity",
            "example": "parent-entity-6789"
          },
          "typeId": {
            "type": "string",
            "description": "Type identifier of the relation",
            "example": "type-4567"
          }
        },
        "description": "Details about a relation update, used when path is PARENT or CHILD"
      },
      "RevaAttribute": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the attribute.",
            "example": "color"
          },
          "value": {
            "type": "string",
            "description": "Value of the attribute.",
            "example": "blue"
          }
        },
        "description": "Attribute of a Reva entity, represented as a name-value pair."
      },
      "RevaChild": {
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string",
            "description": "Unique identifier of the child entity.",
            "example": "child-001"
          },
          "entityType": {
            "type": "string",
            "description": "Type of the child entity.",
            "example": "Team"
          }
        },
        "description": "Child entity related to a Reva entity."
      },
      "RevaEntity": {
        "required": [
          "entityId"
        ],
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string",
            "description": "Unique identifier of the entity.",
            "example": "12345"
          },
          "attributes": {
            "uniqueItems": true,
            "type": "array",
            "description": "Set of attributes associated with the entity.",
            "items": {
              "$ref": "#/components/schemas/RevaAttribute"
            }
          },
          "parents": {
            "uniqueItems": true,
            "type": "array",
            "description": "Set of parent entities related to this entity.",
            "items": {
              "$ref": "#/components/schemas/RevaParent"
            }
          },
          "children": {
            "uniqueItems": true,
            "type": "array",
            "description": "Set of child entities related to this entity.",
            "items": {
              "$ref": "#/components/schemas/RevaChild"
            }
          }
        },
        "description": "DTO representing a Reva entity with attributes, parents, and children."
      },
      "RevaEntityResponse": {
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string",
            "description": "Unique identifier of the entity",
            "example": "12345"
          },
          "entityTypeId": {
            "type": "string",
            "description": "Unique type identifier of the entity",
            "example": "abcde-1234"
          }
        }
      },
      "RevaParent": {
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string",
            "description": "Unique identifier of the parent entity.",
            "example": "parent-001"
          },
          "entityType": {
            "type": "string",
            "description": "Type of the parent entity.",
            "example": "Department"
          }
        },
        "description": "Parent entity related to a Reva entity."
      },
      "UpdateRevaEntityDto": {
        "required": [
          "entityId",
          "op",
          "path"
        ],
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string",
            "description": "Unique identifier of the entity to be updated",
            "example": "entity-12345"
          },
          "op": {
            "type": "string",
            "description": "Supported update operations",
            "example": "REPLACE",
            "enum": [
              "ADD",
              "REMOVE",
              "REPLACE"
            ]
          },
          "path": {
            "type": "string",
            "description": "Entity path to be updated",
            "example": "ATTRIBUTE",
            "enum": [
              "ATTRIBUTE",
              "PARENT",
              "CHILD"
            ]
          },
          "relationValue": {
            "$ref": "#/components/schemas/RelationValue"
          },
          "attributeValue": {
            "$ref": "#/components/schemas/AttributeValue"
          }
        },
        "description": "Request object to update an entities' attributes or relationships"
      }
    }
  }
}
