{
  "openapi": "3.0.1",
  "info": {
    "title": "Data Ingestion APIs",
    "description": "Data Ingestion Rest APIs",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "name": "Tushar Agarwal",
      "url": "http://www.reva.ai",
      "email": "tushar.agarwal@reva.ai"
    },
    "license": {
      "name": "Reva.ai License",
      "url": "http://www.reva.ai/license"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.app.reva.ai",
      "description": "Production Server"
    },
    {
      "url": "https://api.dev.reva.ai",
      "description": "Development Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "REST APIs",
      "description": "These APIs are used to manage and synchronize entities in Reva using the REST protocol. Any invalid records that result in errors should be retried by the caller."
    }
  ],
  "paths": {
    "/ingestion/v1/entity/bulk": {
      "put": {
        "tags": [
          "REST APIs"
        ],
        "summary": "Replace Entities",
        "description": "Performs a bulk replacement of existing entities in Reva using the provided data. This operation completely overwrites existing records.",
        "operationId": "replaceEntities",
        "parameters": [
          {
            "name": "entityTypeId",
            "in": "query",
            "description": "Unique identifier for the entity type.\n\nTo find the `entityTypeId`, follow these steps:\n\n- Go to **Manage Policies** and select the target policy store.\n- Open the **Data** tab and click the **Configure** spanner icon.\n- Copy the **Entity Type ID** for the entity type you want to use.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a29ef701-53e2-4899-bedc-e9974d9165e6"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RevaEntity"
                }
              },
              "example": [
                {
                  "entityId": "alog-001",
                  "attributes": [
                    {
                      "name": "resourceId",
                      "value": "acct-john-checking"
                    }
                  ]
                }
              ]
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevaEntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "BAD.REQUEST",
                  "message": "Entity ID must not be blank",
                  "data": "entityId"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevaEntityResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Invalid Entity type ID",
                  "data": "abcd-1234"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occured, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "REST APIs"
        ],
        "summary": "Create Entities",
        "description": "Creates new entities in bulk in Reva",
        "operationId": "createEntities",
        "parameters": [
          {
            "name": "entityTypeId",
            "in": "query",
            "description": "Unique identifier for the entity type.\n\nTo find the `entityTypeId`, follow these steps:\n\n- Go to **Manage Policies** and select the target policy store.\n- Open the **Data** tab and click the **Configure** spanner icon.\n- Copy the **Entity Type ID** for the entity type you want to use.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a29ef701-53e2-4899-bedc-e9974d9165e6"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RevaEntity"
                }
              },
              "example": [
                {
                  "entityId": "alog-001",
                  "attributes": [
                    {
                      "name": "resourceId",
                      "value": "acct-john-checking"
                    }
                  ]
                }
              ]
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevaEntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "BAD.REQUEST",
                  "message": "Entity ID must not be blank",
                  "data": "entityId"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Invalid Entity type ID",
                  "data": "abcd-1234"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevaEntityResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.ALREADY.EXISTS",
                  "message": "Entity already exists for the provided entity type ID and entity ID",
                  "data": "abcd123"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occured, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "REST APIs"
        ],
        "summary": "Delete All Entities",
        "description": "Delete all Entities in Reva for a given entity type id",
        "operationId": "deleteAllEntities",
        "parameters": [
          {
            "name": "entityTypeId",
            "in": "query",
            "description": "Unique identifier for the entity type.\n\nTo find the `entityTypeId`, follow these steps:\n\n- Go to **Manage Policies** and select the target policy store.\n- Open the **Data** tab and click the **Configure** spanner icon.\n- Copy the **Entity Type ID** for the entity type you want to use.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a29ef701-53e2-4899-bedc-e9974d9165e6"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "BAD.REQUEST",
                  "message": "Entity ID must not be blank",
                  "data": "entityId"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Invalid Entity type ID",
                  "data": "abcd-1234"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occured, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "REST APIs"
        ],
        "summary": "Update Entities",
        "description": "Performs a bulk update of specific attributes or parent relationships of existing entities in Reva without fully overwriting them",
        "operationId": "updateEntities",
        "parameters": [
          {
            "name": "entityTypeId",
            "in": "query",
            "description": "Unique identifier for the entity type.\n\nTo find the `entityTypeId`, follow these steps:\n\n- Go to **Manage Policies** and select the target policy store.\n- Open the **Data** tab and click the **Configure** spanner icon.\n- Copy the **Entity Type ID** for the entity type you want to use.",            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a29ef701-53e2-4899-bedc-e9974d9165e6"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpdateRevaEntityDto"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevaEntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "BAD.REQUEST",
                  "message": "Entity ID must not be blank",
                  "data": "entityId"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Invalid Entity type ID",
                  "data": "abcd-1234"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occured, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ingestion/v1/entity": {
      "put": {
        "tags": [
          "REST APIs"
        ],
        "summary": "Replace Entity",
        "description": "Replaces an existing entity in Reva with the provided data. This is a full overwrite operation",
        "operationId": "replaceEntity",
        "parameters": [
          {
            "name": "entityTypeId",
            "in": "query",
            "description": "Unique identifier for the entity type.\n\nTo find the `entityTypeId`, follow these steps:\n\n- Go to **Manage Policies** and select the target policy store.\n- Open the **Data** tab and click the **Configure** spanner icon.\n- Copy the **Entity Type ID** for the entity type you want to use.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a29ef701-53e2-4899-bedc-e9974d9165e6"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevaEntity"
              },
              "example": {
                "entityId": "alog-001",
                "attributes": [
                  {
                    "name": "resourceId",
                    "value": "acct-john-checking"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevaEntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "BAD.REQUEST",
                  "message": "Entity ID must not be blank",
                  "data": "entityId"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Invalid Entity type ID",
                  "data": "abcd-1234"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occured, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "REST APIs"
        ],
        "summary": "Create Entity",
        "description": "Creates a new entity record in Reva",
        "operationId": "createEntity",
        "parameters": [
          {
            "name": "entityTypeId",
            "in": "query",
            "description": "Unique identifier for the entity type.\n\nTo find the `entityTypeId`, follow these steps:\n\n- Go to **Manage Policies** and select the target policy store.\n- Open the **Data** tab and click the **Configure** spanner icon.\n- Copy the **Entity Type ID** for the entity type you want to use.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a29ef701-53e2-4899-bedc-e9974d9165e6"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevaEntity"
              },
              "example": {
                "entityId": "alog-001",
                "attributes": [
                  {
                    "name": "resourceId",
                    "value": "acct-john-checking"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevaEntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "BAD.REQUEST",
                  "message": "Entity ID must not be blank",
                  "data": "entityId"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Invalid Entity type ID",
                  "data": "abcd-1234"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.ALREADY.EXISTS",
                  "message": "Entity already exists for the provided entity type ID and entity ID",
                  "data": "abcd123"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occured, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ingestion/scim/v2/Users/{id}": {
      "get": {
        "tags": [
          "SCIM APIs"
        ],
        "summary": "Get User",
        "description": "Retrieves a User from Reva",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the identity",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 123
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Resource not found",
                  "status": "404"
                }
              },
              "application/scim+json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Resource not found",
                  "status": "404"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUserResponse"
                }
              },
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUserResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Something went wrong",
                  "status": "500"
                }
              },
              "application/scim+json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Something went wrong",
                  "status": "500"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "scimType": "invalidValue",
                  "detail": "Validation failed: Username can't be blank",
                  "status": "400"
                }
              },
              "application/scim+json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "scimType": "invalidValue",
                  "detail": "Validation failed: Username can't be blank",
                  "status": "400"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "SCIM APIs"
        ],
        "summary": "Replace User",
        "description": "Replace a User in Reva",
        "operationId": "replaceUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the identity",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 123
          }
        ],
        "requestBody": {
          "content": {
            "application/scim+json": {
              "schema": {
                "$ref": "#/components/schemas/ScimUser"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScimUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Resource not found",
                  "status": "404"
                }
              },
              "application/scim+json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Resource not found",
                  "status": "404"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUserResponse"
                }
              },
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUserResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Something went wrong",
                  "status": "500"
                }
              },
              "application/scim+json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Something went wrong",
                  "status": "500"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "scimType": "invalidValue",
                  "detail": "Validation failed: Username can't be blank",
                  "status": "400"
                }
              },
              "application/scim+json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "scimType": "invalidValue",
                  "detail": "Validation failed: Username can't be blank",
                  "status": "400"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SCIM APIs"
        ],
        "summary": "Delete User",
        "description": "Deletes a User in Reva",
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the identity",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 123
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Something went wrong",
                  "status": "500"
                }
              },
              "application/scim+json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Something went wrong",
                  "status": "500"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Resource not found",
                  "status": "404"
                }
              },
              "application/scim+json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Resource not found",
                  "status": "404"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "SCIM APIs"
        ],
        "summary": "Patch User",
        "description": "Updates specific fields of a User in Reva using SCIM PATCH operations",
        "operationId": "patchUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the identity",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 123
          }
        ],
        "requestBody": {
          "content": {
            "application/scim+json": {
              "schema": {
                "$ref": "#/components/schemas/ScimPatchRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScimPatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "scimType": "invalidValue",
                  "detail": "Invalid PATCH operation",
                  "status": "400"
                }
              },
              "application/scim+json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "scimType": "invalidValue",
                  "detail": "Invalid PATCH operation",
                  "status": "400"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "User not found",
                  "status": "404"
                }
              },
              "application/scim+json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "User not found",
                  "status": "404"
                }
              }
            }
          },
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUserResponse"
                }
              },
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUserResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Something went wrong",
                  "status": "500"
                }
              },
              "application/scim+json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Something went wrong",
                  "status": "500"
                }
              }
            }
          }
        }
      }
    },
    "/ingestion/scim/v2/Users": {
      "get": {
        "tags": [
          "SCIM APIs"
        ],
        "summary": "List Users",
        "description": "Returns a paginated list of SCIM users",
        "operationId": "listUsers",
        "parameters": [
          {
            "name": "startIndex",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUserListResponse"
                }
              },
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUserListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "SCIM APIs"
        ],
        "summary": "Create User",
        "description": "Creates a User in Reva",
        "operationId": "createUser",
        "requestBody": {
          "content": {
            "application/scim+json": {
              "schema": {
                "$ref": "#/components/schemas/ScimUser"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScimUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUserResponse"
                }
              },
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUserResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Resource not found",
                  "status": "404"
                }
              },
              "application/scim+json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Resource not found",
                  "status": "404"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Resource not found",
                  "status": "409"
                }
              },
              "application/scim+json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Resource not found",
                  "status": "409"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Something went wrong",
                  "status": "500"
                }
              },
              "application/scim+json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Something went wrong",
                  "status": "500"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "scimType": "invalidValue",
                  "detail": "Validation failed: Username can't be blank",
                  "status": "400"
                }
              },
              "application/scim+json": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "scimType": "invalidValue",
                  "detail": "Validation failed: Username can't be blank",
                  "status": "400"
                }
              }
            }
          }
        }
      }
    },
    "/ingestion/v1/entity/{entityId}": {
      "get": {
        "tags": [
          "REST APIs"
        ],
        "summary": "Get Entity Details",
        "description": "Retrieves the details of an entity including its attributes",
        "operationId": "getEntityDetails",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "description": "Unique identifier of the entity",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 123
          },
          {
            "name": "entityTypeId",
            "in": "query",
            "description": "Unique identifier for the entity type.\n\nTo find the `entityTypeId`, follow these steps:\n\n- Go to **Manage Policies** and select the target policy store.\n- Open the **Data** tab and click the **Configure** spanner icon.\n- Copy the **Entity Type ID** for the entity type you want to use.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a29ef701-53e2-4899-bedc-e9974d9165e6"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "BAD.REQUEST",
                  "message": "Entity ID must not be blank",
                  "data": "entityId"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Entity not found",
                  "data": "123"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occured, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "REST APIs"
        ],
        "summary": "Delete Entity",
        "description": "Deletes an Entity in Reva",
        "operationId": "deleteEntity",
        "parameters": [
          {
            "name": "entityTypeId",
            "in": "query",
            "description": "Unique identifier for the entity type.\n\nTo find the `entityTypeId`, follow these steps:\n\n- Go to **Manage Policies** and select the target policy store.\n- Open the **Data** tab and click the **Configure** spanner icon.\n- Copy the **Entity Type ID** for the entity type you want to use.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a29ef701-53e2-4899-bedc-e9974d9165e6"
          },
          {
            "name": "entityId",
            "in": "path",
            "description": "Unique identifier for the entity type.\n\nTo find the `entityTypeId`, follow these steps:\n\n- Go to **Manage Policies** and select the target policy store.\n- Open the **Data** tab and click the **Configure** spanner icon.\n- Copy the **Entity Type ID** for the entity type you want to use.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 123
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "BAD.REQUEST",
                  "message": "Entity ID must not be blank",
                  "data": "entityId"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Invalid Entity type ID",
                  "data": "abcd-1234"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occured, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "REST APIs"
        ],
        "summary": "Update Entity",
        "description": "Updates specific attributes or parents of an existing entity in Reva without overwriting the full entity",
        "operationId": "updateEntity",
        "parameters": [
          {
            "name": "entityTypeId",
            "in": "query",
            "description": "Unique identifier for the entity type.\n\nTo find the `entityTypeId`, follow these steps:\n\n- Go to **Manage Policies** and select the target policy store.\n- Open the **Data** tab and click the **Configure** spanner icon.\n- Copy the **Entity Type ID** for the entity type you want to use.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "a29ef701-53e2-4899-bedc-e9974d9165e6"
          },
          {
            "name": "entityId",
            "in": "path",
            "description": "Unique identifier of the entity",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 123
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchRevaEntityDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevaEntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "BAD.REQUEST",
                  "message": "Operation must not be blank",
                  "data": "op"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Invalid Entity type ID",
                  "data": "abcd-1234"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occured, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ingestion/scim/v2/ServiceProviderConfig": {
      "get": {
        "tags": [
          "SCIM APIs"
        ],
        "summary": "Get Service Provider Config",
        "description": "Returns the service provider\u2019s SCIM capabilities, such as filtering, patch support, and authentication schemes.",
        "operationId": "getServiceProviderConfig",
        "responses": {
          "200": {
            "description": "SCIM service provider configuration",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceProviderConfig"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Something went wrong",
                  "status": "500"
                }
              }
            }
          }
        }
      }
    },
    "/ingestion/scim/v2/Schemas": {
      "get": {
        "tags": [
          "SCIM APIs"
        ],
        "summary": "Get Schemas",
        "description": "Lists all SCIM schemas available on the service provider.",
        "operationId": "getSchemas",
        "responses": {
          "200": {
            "description": "List of SCIM schemas",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScimSchema"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Something went wrong",
                  "status": "500"
                }
              }
            }
          }
        }
      }
    },
    "/ingestion/scim/v2/Schemas/{schemaId}": {
      "get": {
        "tags": [
          "SCIM APIs"
        ],
        "summary": "Get Schema by ID",
        "description": "Returns the details of a specific SCIM schema by its ID.",
        "operationId": "getSchemaById",
        "parameters": [
          {
            "name": "schemaId",
            "in": "path",
            "description": "SCIM schema ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "urn:ietf:params:scim:schemas:core:2.0:User"
          }
        ],
        "responses": {
          "404": {
            "description": "Schema not found",
            "content": {
              "*/*": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Schema not found",
                  "status": "404"
                }
              }
            }
          },
          "200": {
            "description": "Schema found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScimSchema"
                }
              }
            }
          }
        }
      }
    },
    "/ingestion/scim/v2/ResourceTypes": {
      "get": {
        "tags": [
          "SCIM APIs"
        ],
        "summary": "Get Resource Types",
        "description": "Lists all SCIM resource types supported by the service provider.",
        "operationId": "getResourceTypes",
        "responses": {
          "200": {
            "description": "List of SCIM resource types",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceType"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Something went wrong",
                  "status": "500"
                }
              }
            }
          }
        }
      }
    },
    "/ingestion/scim/v2/ResourceTypes/{resourceType}": {
      "get": {
        "tags": [
          "SCIM APIs"
        ],
        "summary": "Get Resource Type",
        "description": "Returns the definition of a specific SCIM resource type (e.g., User).",
        "operationId": "getResourceType",
        "parameters": [
          {
            "name": "resourceType",
            "in": "path",
            "description": "Name of the SCIM resource type",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "User"
          }
        ],
        "responses": {
          "404": {
            "description": "Resource type not found",
            "content": {
              "*/*": {
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "detail": "Resource type not found",
                  "status": "404"
                }
              }
            }
          },
          "200": {
            "description": "Resource type found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceType"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RevaAttribute": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the attribute."
          },
          "value": {
            "type": "string",
            "description": "Value of the attribute."
          }
        },
        "description": "Attribute of a Reva entity, represented as a name-value pair."
      },
      "RevaChild": {
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string",
            "description": "Unique identifier of the child entity."
          },
          "entityType": {
            "type": "string",
            "description": "Type of the child entity."
          }
        },
        "description": "Child entity related to a Reva entity."
      },
      "RevaEntity": {
        "required": [
          "entityId"
        ],
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string",
            "description": "Unique identifier of the entity."
          },
          "attributes": {
            "uniqueItems": true,
            "type": "array",
            "description": "Set of attributes associated with the entity.",
            "items": {
              "$ref": "#/components/schemas/RevaAttribute"
            }
          },
          "parents": {
            "uniqueItems": true,
            "type": "array",
            "description": "Set of parent entities related to this entity.",
            "items": {
              "$ref": "#/components/schemas/RevaParent"
            }
          },
          "children": {
            "uniqueItems": true,
            "type": "array",
            "description": "Set of child entities related to this entity.",
            "items": {
              "$ref": "#/components/schemas/RevaChild"
            }
          }
        },
        "description": "DTO representing a Reva entity with attributes, parents, and children."
      },
      "RevaParent": {
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string",
            "description": "Unique identifier of the parent entity."
          },
          "entityType": {
            "type": "string",
            "description": "Type of the parent entity."
          }
        },
        "description": "Parent entity related to a Reva entity."
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        }
      },
      "RevaEntityResponse": {
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string",
            "description": "Unique identifier of the entity",
            "example": "12345"
          },
          "entityTypeId": {
            "type": "string",
            "description": "Unique type identifier of the entity",
            "example": "abcde-1234"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "formatted": {
            "type": "string",
            "example": "100 Universal City Plaza\nHollywood, CA 91608 USA"
          },
          "streetAddress": {
            "type": "string",
            "example": "100 Universal City Plaza"
          },
          "locality": {
            "type": "string",
            "example": "Hollywood"
          },
          "region": {
            "type": "string",
            "example": "CA"
          },
          "postalCode": {
            "type": "string",
            "example": "91608"
          },
          "country": {
            "type": "string",
            "example": "USA"
          },
          "type": {
            "type": "string",
            "example": "work"
          },
          "primary": {
            "type": "boolean",
            "example": true
          }
        },
        "description": "Physical mailing address"
      },
      "Email": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "example": "dwight@dundermifflin.com"
          },
          "type": {
            "type": "string",
            "example": "work"
          },
          "primary": {
            "type": "boolean",
            "example": true
          }
        },
        "description": "Email structure"
      },
      "EnterpriseUser": {
        "type": "object",
        "properties": {
          "employeeNumber": {
            "type": "string"
          },
          "costCenter": {
            "type": "string"
          },
          "organization": {
            "type": "string"
          },
          "division": {
            "type": "string"
          },
          "department": {
            "type": "string"
          },
          "manager": {
            "$ref": "#/components/schemas/Manager"
          },
          "notEmpty": {
            "type": "boolean"
          }
        },
        "description": "Enterprise User Extension"
      },
      "Entitlement": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "example": "Premium Access"
          },
          "display": {
            "type": "string",
            "example": "Premium Access"
          },
          "type": {
            "type": "string",
            "example": "subscription"
          },
          "primary": {
            "type": "boolean",
            "example": true
          }
        },
        "description": "User entitlement"
      },
      "GroupMembership": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "example": "e9e30dba-f08f-4109-8486-d5c6a331660a"
          },
          "display": {
            "type": "string",
            "example": "Sales Team"
          },
          "type": {
            "type": "string",
            "example": "direct"
          }
        },
        "description": "Group membership - read-only",
        "readOnly": true
      },
      "Manager": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          }
        }
      },
      "Name": {
        "type": "object",
        "properties": {
          "formatted": {
            "type": "string",
            "example": "Dwight Kurt Schrute III"
          },
          "familyName": {
            "type": "string",
            "example": "Schrute"
          },
          "givenName": {
            "type": "string",
            "example": "Dwight"
          },
          "middleName": {
            "type": "string",
            "example": "Kurt"
          },
          "honorificPrefix": {
            "type": "string",
            "example": "Mr."
          },
          "honorificSuffix": {
            "type": "string",
            "example": "III"
          }
        },
        "description": "User's full name structure"
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "example": "+1-570-867-5309"
          },
          "type": {
            "type": "string",
            "example": "work"
          },
          "primary": {
            "type": "boolean",
            "example": false
          },
          "display": {
            "type": "string",
            "example": "Main office line"
          }
        },
        "description": "Phone number structure"
      },
      "Role": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "example": "Manager"
          },
          "display": {
            "type": "string",
            "example": "Manager"
          },
          "type": {
            "type": "string",
            "example": "leadership"
          },
          "primary": {
            "type": "boolean",
            "example": true
          }
        },
        "description": "User role"
      },
      "ScimUser": {
        "required": [
          "schemas",
          "userName"
        ],
        "type": "object",
        "properties": {
          "schemas": {
            "type": "array",
            "example": [
              "urn:ietf:params:scim:schemas:core:2.0:User"
            ],
            "items": {
              "type": "string",
              "example": "[\"urn:ietf:params:scim:schemas:core:2.0:User\"]"
            }
          },
          "externalId": {
            "type": "string",
            "example": "3419312"
          },
          "userName": {
            "type": "string",
            "example": "dwight.schrute"
          },
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "displayName": {
            "type": "string",
            "example": "Dwight Schrute"
          },
          "nickName": {
            "type": "string",
            "example": "Assistant to the Regional Manager"
          },
          "profileUrl": {
            "type": "string",
            "example": "https://dundermifflin.com/profiles/dwight"
          },
          "title": {
            "type": "string",
            "example": "Assistant Regional Manager"
          },
          "userType": {
            "type": "string",
            "example": "employee"
          },
          "preferredLanguage": {
            "type": "string",
            "example": "en"
          },
          "locale": {
            "pattern": "^[a-zA-Z]{2,8}(-[a-zA-Z0-9]{1,8})*$",
            "type": "string",
            "example": "en-US"
          },
          "timezone": {
            "type": "string",
            "example": "America/New_York"
          },
          "emails": {
            "type": "array",
            "description": "List of email addresses",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          },
          "phoneNumbers": {
            "type": "array",
            "description": "List of phone numbers",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "active": {
            "type": "boolean",
            "example": true
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "groups": {
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/GroupMembership"
            }
          },
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Role"
            }
          },
          "entitlements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Entitlement"
            }
          },
          "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User": {
            "$ref": "#/components/schemas/EnterpriseUser"
          }
        },
        "description": "SCIM User resource"
      },
      "Meta": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string"
          },
          "location": {
            "type": "string"
          }
        }
      },
      "ScimUserResponse": {
        "required": [
          "schemas",
          "userName"
        ],
        "type": "object",
        "properties": {
          "schemas": {
            "type": "array",
            "example": [
              "urn:ietf:params:scim:schemas:core:2.0:User"
            ],
            "items": {
              "type": "string",
              "example": "[\"urn:ietf:params:scim:schemas:core:2.0:User\"]"
            }
          },
          "externalId": {
            "type": "string",
            "example": "3419312"
          },
          "userName": {
            "type": "string",
            "example": "dwight.schrute"
          },
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "displayName": {
            "type": "string",
            "example": "Dwight Schrute"
          },
          "nickName": {
            "type": "string",
            "example": "Assistant to the Regional Manager"
          },
          "profileUrl": {
            "type": "string",
            "example": "https://dundermifflin.com/profiles/dwight"
          },
          "title": {
            "type": "string",
            "example": "Assistant Regional Manager"
          },
          "userType": {
            "type": "string",
            "example": "employee"
          },
          "preferredLanguage": {
            "type": "string",
            "example": "en"
          },
          "locale": {
            "pattern": "^[a-zA-Z]{2,8}(-[a-zA-Z0-9]{1,8})*$",
            "type": "string",
            "example": "en-US"
          },
          "timezone": {
            "type": "string",
            "example": "America/New_York"
          },
          "emails": {
            "type": "array",
            "description": "List of email addresses",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          },
          "phoneNumbers": {
            "type": "array",
            "description": "List of phone numbers",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "active": {
            "type": "boolean",
            "example": true
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "groups": {
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/GroupMembership"
            }
          },
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Role"
            }
          },
          "entitlements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Entitlement"
            }
          },
          "id": {
            "type": "string",
            "description": "SCIM resource ID",
            "example": "12345-abcde"
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User": {
            "$ref": "#/components/schemas/EnterpriseUser"
          }
        },
        "description": "SCIM User response payload"
      },
      "AttributeValue": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the attribute to update",
            "example": "Salary"
          },
          "value": {
            "type": "string",
            "description": "New value of the attribute",
            "example": "100000"
          }
        },
        "description": "Details about an attribute update, used when path is ATTRIBUTE"
      },
      "PatchRevaEntityDto": {
        "required": [
          "op",
          "path"
        ],
        "type": "object",
        "properties": {
          "op": {
            "type": "string",
            "description": "Supported update operations",
            "example": "REPLACE",
            "enum": [
              "ADD",
              "REMOVE",
              "REPLACE"
            ]
          },
          "path": {
            "type": "string",
            "description": "Entity path to be updated",
            "example": "ATTRIBUTE",
            "enum": [
              "ATTRIBUTE",
              "PARENT",
              "CHILD"
            ]
          },
          "relationValue": {
            "$ref": "#/components/schemas/RelationValue"
          },
          "attributeValue": {
            "$ref": "#/components/schemas/AttributeValue"
          }
        },
        "description": "Request object to update an entity's attributes or relationships"
      },
      "RelationValue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the related entity",
            "example": "parent-entity-6789"
          },
          "typeId": {
            "type": "string",
            "description": "Type identifier of the relation",
            "example": "type-4567"
          }
        },
        "description": "Details about a relation update, used when path is PARENT or CHILD"
      },
      "UpdateRevaEntityDto": {
        "required": [
          "entityId",
          "op",
          "path"
        ],
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string",
            "description": "Unique identifier of the entity to be updated",
            "example": "entity-12345"
          },
          "op": {
            "type": "string",
            "description": "Supported update operations",
            "example": "REPLACE",
            "enum": [
              "ADD",
              "REMOVE",
              "REPLACE"
            ]
          },
          "path": {
            "type": "string",
            "description": "Entity path to be updated",
            "example": "ATTRIBUTE",
            "enum": [
              "ATTRIBUTE",
              "PARENT",
              "CHILD"
            ]
          },
          "relationValue": {
            "$ref": "#/components/schemas/RelationValue"
          },
          "attributeValue": {
            "$ref": "#/components/schemas/AttributeValue"
          }
        },
        "description": "Request object to update an entity, including the entity identifier"
      },
      "PatchOperation": {
        "type": "object",
        "properties": {
          "op": {
            "type": "string",
            "example": "replace",
            "enum": [
              "add",
              "remove",
              "replace"
            ]
          },
          "path": {
            "type": "string",
            "description": "Path to the attribute to modify (optional for some operations)"
          },
          "value": {
            "type": "object",
            "description": "Value to set (for add/replace operations)"
          }
        },
        "description": "SCIM Patch operation"
      },
      "ScimPatchRequest": {
        "type": "object",
        "properties": {
          "schemas": {
            "type": "array",
            "example": [
              "urn:ietf:params:scim:api:messages:2.0:PatchOp"
            ],
            "items": {
              "type": "string",
              "example": "[\"urn:ietf:params:scim:api:messages:2.0:PatchOp\"]"
            }
          },
          "Operations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PatchOperation"
            }
          }
        },
        "description": "SCIM Patch operation request"
      },
      "ScimUserListResponse": {
        "type": "object",
        "properties": {
          "schemas": {
            "type": "array",
            "example": [
              "urn:ietf:params:scim:api:messages:2.0:ListResponse"
            ],
            "items": {
              "type": "string",
              "example": "[\"urn:ietf:params:scim:api:messages:2.0:ListResponse\"]"
            }
          },
          "totalResults": {
            "type": "integer",
            "format": "int64",
            "example": 42
          },
          "startIndex": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32",
            "example": 10
          },
          "Resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScimUserResponse"
            }
          }
        }
      },
      "AuthScheme": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "specUri": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "primary": {
            "type": "boolean"
          }
        }
      },
      "BulkConfig": {
        "type": "object",
        "properties": {
          "supported": {
            "type": "boolean"
          },
          "maxOperations": {
            "type": "integer",
            "format": "int32"
          },
          "maxPayloadSize": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ChangePasswordConfig": {
        "type": "object",
        "properties": {
          "supported": {
            "type": "boolean"
          }
        }
      },
      "EtagConfig": {
        "type": "object",
        "properties": {
          "supported": {
            "type": "boolean"
          }
        }
      },
      "FilterConfig": {
        "type": "object",
        "properties": {
          "supported": {
            "type": "boolean"
          },
          "maxResults": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PatchConfig": {
        "type": "object",
        "properties": {
          "supported": {
            "type": "boolean"
          }
        }
      },
      "ServiceProviderConfig": {
        "type": "object",
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "patch": {
            "$ref": "#/components/schemas/PatchConfig"
          },
          "bulk": {
            "$ref": "#/components/schemas/BulkConfig"
          },
          "filter": {
            "$ref": "#/components/schemas/FilterConfig"
          },
          "changePassword": {
            "$ref": "#/components/schemas/ChangePasswordConfig"
          },
          "sort": {
            "$ref": "#/components/schemas/SortConfig"
          },
          "etag": {
            "$ref": "#/components/schemas/EtagConfig"
          },
          "authenticationSchemes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuthScheme"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "SortConfig": {
        "type": "object",
        "properties": {
          "supported": {
            "type": "boolean"
          }
        }
      },
      "Attribute": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "multiValued": {
            "type": "boolean"
          },
          "required": {
            "type": "boolean"
          },
          "caseExact": {
            "type": "boolean"
          },
          "mutability": {
            "type": "string"
          },
          "returned": {
            "type": "string"
          },
          "uniqueness": {
            "type": "string"
          },
          "subAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubAttribute"
            }
          }
        }
      },
      "ScimSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "attributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attribute"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "SubAttribute": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          }
        }
      },
      "ResourceType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "endpoint": {
            "type": "string"
          },
          "schema": {
            "type": "string"
          },
          "schemaExtensions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SchemaExtension"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "SchemaExtension": {
        "type": "object",
        "properties": {
          "schema": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}