{
  "openapi": "3.0.3",
  "info": {
    "title": "Guardrail Templates API",
    "description": "APIs to create, update, list, and delete guardrail templates used by design-time and runtime guardrails.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pr06.preview.reva.ai",
      "description": "Preview"
    },
    {
      "url": "https://api.dv06.dev.reva.ai",
      "description": "Development"
    }
  ],
  "tags": [
    {
      "name": "Guardrail Templates",
      "description": "Manage reusable guardrail templates."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/template": {
      "get": {
        "tags": [
          "Guardrail Templates"
        ],
        "summary": "List guardrail templates",
        "description": "Returns guardrail templates. Optional filters include type, category, and AI lifecycle stage.",
        "operationId": "listGuardrailTemplates",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter by template type: DESIGN_TIME or RUN_TIME",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "RUN_TIME",
                "DESIGN_TIME"
              ]
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by template category: AI or STANDARD",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "AI",
                "STANDARD",
                "BOTH"
              ]
            }
          },
          {
            "name": "aiStage",
            "in": "query",
            "description": "Filter by AI lifecycle stage: ENTRY, EXIT or BOTH. When ENTRY/EXIT is supplied, BOTH-tagged templates are also returned.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ENTRY",
                "EXIT",
                "BOTH"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDetailResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occurred, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Guardrail Templates"
        ],
        "summary": "Create guardrail template",
        "description": "Creates a new guardrail template.",
        "operationId": "createGuardrailTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occurred, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/template/{id}": {
      "get": {
        "tags": [
          "Guardrail Templates"
        ],
        "summary": "Get guardrail template by ID",
        "description": "Returns a guardrail template by ID.",
        "operationId": "getGuardrailTemplateById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INVALID.REQUEST",
                  "message": "Template Id is invalid"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occurred, Please contact administrator"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Template not found"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Guardrail Templates"
        ],
        "summary": "Delete guardrail template",
        "description": "Deletes a guardrail template by ID.",
        "operationId": "deleteGuardrailTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INVALID.REQUEST",
                  "message": "Template Id is invalid"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occurred, Please contact administrator"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Template not found"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Guardrail Templates"
        ],
        "summary": "Update guardrail template",
        "description": "Updates an existing guardrail template.",
        "operationId": "updateGuardrailTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INVALID.REQUEST",
                  "message": "Request body is invalid"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occurred, Please contact administrator"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Template not found"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ConfigJsonAttributeResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "minValue": {
            "type": "object"
          },
          "maxValue": {
            "type": "object"
          },
          "step": {
            "type": "object"
          },
          "default": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        }
      },
      "GuardrailEndpoint": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "timeoutMs": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "TemplateAttributeResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "minValue": {
            "type": "number"
          },
          "maxValue": {
            "type": "number"
          },
          "step": {
            "type": "number"
          },
          "selectedValue": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "TemplateDetailResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "attributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateAttributeResponse"
            }
          },
          "regoPolicy": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "RUN_TIME",
              "DESIGN_TIME"
            ]
          },
          "category": {
            "type": "string",
            "enum": [
              "AI",
              "STANDARD",
              "BOTH"
            ]
          },
          "aiStage": {
            "type": "string",
            "enum": [
              "ENTRY",
              "EXIT",
              "BOTH"
            ]
          },
          "engine": {
            "type": "string",
            "enum": [
              "OPA",
              "IBAC",
              "EXTERNAL_WEBHOOK"
            ]
          },
          "endpoint": {
            "$ref": "#/components/schemas/GuardrailEndpoint"
          },
          "createdOn": {
            "type": "string",
            "format": "date-time"
          },
          "updatedOn": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string"
          },
          "updatedBy": {
            "type": "string"
          }
        }
      },
      "TemplateDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "configJson": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "regoPolicy": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "RUN_TIME",
              "DESIGN_TIME"
            ]
          },
          "category": {
            "type": "string",
            "enum": [
              "AI",
              "STANDARD",
              "BOTH"
            ]
          },
          "aiStage": {
            "type": "string",
            "enum": [
              "ENTRY",
              "EXIT",
              "BOTH"
            ]
          },
          "engine": {
            "type": "string",
            "enum": [
              "OPA",
              "IBAC",
              "EXTERNAL_WEBHOOK"
            ]
          },
          "endpoint": {
            "$ref": "#/components/schemas/GuardrailEndpoint"
          }
        }
      },
      "TemplateResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "configJson": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "configJsonAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConfigJsonAttributeResponse"
            }
          },
          "regoPolicy": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "RUN_TIME",
              "DESIGN_TIME"
            ]
          },
          "category": {
            "type": "string",
            "enum": [
              "AI",
              "STANDARD",
              "BOTH"
            ]
          },
          "aiStage": {
            "type": "string",
            "enum": [
              "ENTRY",
              "EXIT",
              "BOTH"
            ]
          },
          "engine": {
            "type": "string",
            "enum": [
              "OPA",
              "IBAC",
              "EXTERNAL_WEBHOOK"
            ]
          },
          "endpoint": {
            "$ref": "#/components/schemas/GuardrailEndpoint"
          },
          "createdOn": {
            "type": "string",
            "format": "date-time"
          },
          "updatedOn": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string"
          },
          "updatedBy": {
            "type": "string"
          }
        }
      }
    }
  }
}
