{
  "openapi": "3.0.3",
  "info": {
    "title": "Guardrail Stores API",
    "description": "APIs to create, update, list, link, and resolve guardrail stores and guardrail configurations.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pr06.preview.reva.ai",
      "description": "Preview"
    },
    {
      "url": "https://api.dv06.dev.reva.ai",
      "description": "Development"
    }
  ],
  "tags": [
    {
      "name": "Guardrail Stores",
      "description": "Manage guardrail stores and store-level guardrail configurations."
    },
    {
      "name": "Policy Store Guardrail Resolution",
      "description": "Resolve guardrails linked to policy stores and drafts."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/guardrail-store": {
      "get": {
        "tags": [
          "Guardrail Stores"
        ],
        "operationId": "listGuardrailStores",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "priority",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "List guardrail stores",
        "description": "Lists guardrail stores. Optional filters include type, mode, priority, and source.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Guardrail Stores"
        ],
        "operationId": "createGuardrailStore",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonNode"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Create guardrail store",
        "description": "Creates a guardrail store.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v2/guardrail-store": {
      "get": {
        "tags": [
          "Guardrail Stores"
        ],
        "operationId": "listGuardrailStoresV2",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "priority",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "List guardrail stores v2",
        "description": "Lists guardrail stores using the v2 endpoint. Optional filters include type, mode, priority, and source.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/guardrail-store/{guardrailStoreId}": {
      "get": {
        "tags": [
          "Guardrail Stores"
        ],
        "operationId": "getGuardrailStoreById",
        "parameters": [
          {
            "name": "guardrailStoreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Get guardrail store by ID",
        "description": "Returns a guardrail store by ID.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Guardrail Stores"
        ],
        "operationId": "deleteGuardrailStore",
        "parameters": [
          {
            "name": "guardrailStoreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Delete guardrail store",
        "description": "Deletes a guardrail store by ID.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Guardrail Stores"
        ],
        "operationId": "updateGuardrailStore",
        "parameters": [
          {
            "name": "guardrailStoreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonNode"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Update guardrail store",
        "description": "Updates a guardrail store by ID.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/guardrail-store/config": {
      "put": {
        "tags": [
          "Guardrail Stores"
        ],
        "operationId": "createOrUpdateGuardrailStoreConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonNode"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Create or update guardrail store config",
        "description": "Creates or updates a guardrail store configuration.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/guardrail-store/config/ids": {
      "post": {
        "tags": [
          "Guardrail Stores"
        ],
        "operationId": "getGuardrailConfigIdsByIds",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonNode"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Get guardrail config IDs by IDs",
        "description": "Returns guardrail configuration IDs for the supplied request payload.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/guardrail-store/{guardrailStoreId}/policy-stores": {
      "get": {
        "tags": [
          "Guardrail Stores"
        ],
        "operationId": "listLinkedPolicyStores",
        "parameters": [
          {
            "name": "guardrailStoreId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "List linked policy stores",
        "description": "Lists policy stores linked to a guardrail store.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/guardrail-store/tags": {
      "get": {
        "tags": [
          "Guardrail Stores"
        ],
        "operationId": "listGuardrailStoreTags",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "List guardrail store tags",
        "description": "Lists guardrail store tags.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/guardrail-store/configs": {
      "get": {
        "tags": [
          "Guardrail Stores"
        ],
        "operationId": "listActiveGuardrailConfigs",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PolicyStoreGuardrailConfigItem"
                  }
                }
              }
            }
          }
        },
        "summary": "List active guardrail configs",
        "description": "Lists active guardrail configuration items.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Guardrail Stores"
        ],
        "operationId": "deleteGuardrailConfigsByIds",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonNode"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Delete guardrail configs by IDs",
        "description": "Deletes guardrail configurations for the supplied IDs.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/policy-store/{policyStoreId}/guardrails/resolved": {
      "get": {
        "tags": [
          "Policy Store Guardrail Resolution"
        ],
        "summary": "Get resolved guardrails for policy store",
        "description": "Returns resolved guardrail details for a policy store. Optional filter by guardrail type.",
        "operationId": "getResolvedPolicyStoreGuardrails",
        "parameters": [
          {
            "name": "policyStoreId",
            "in": "path",
            "description": "Policy Store ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0edb1064-9f6b-4601-81bb-44229726152a"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Optional filter by guardrail type: RUN_TIME or DESIGN_TIME. Defaults to RUN_TIME when omitted.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "RUN_TIME",
                "DESIGN_TIME"
              ]
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occurred, Please contact administrator"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResolvedGuardrailDetails"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Application not found"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/policy-store/{policyStoreId}/guardrails/configs": {
      "get": {
        "tags": [
          "Policy Store Guardrail Resolution"
        ],
        "summary": "Get policy-store guardrail configs",
        "description": "Returns guardrail metadata and configuration payloads linked to a policy store.",
        "operationId": "getPolicyStoreGuardrailConfigs",
        "parameters": [
          {
            "name": "policyStoreId",
            "in": "path",
            "description": "Policy Store ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "0edb1064-9f6b-4601-81bb-44229726152a"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Optional filter by guardrail type: RUN_TIME or DESIGN_TIME",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "RUN_TIME",
                "DESIGN_TIME"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PolicyStoreGuardrailConfigItem"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/draft/{draftId}/guardrails/resolved": {
      "get": {
        "tags": [
          "Policy Store Guardrail Resolution"
        ],
        "summary": "Get resolved guardrails for draft",
        "description": "Returns resolved guardrail details for a draft. Optional filter by guardrail type.",
        "operationId": "getResolvedDraftGuardrails",
        "parameters": [
          {
            "name": "draftId",
            "in": "path",
            "description": "Draft ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0edb1064-9f6b-4601-81bb-44229726152a"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Optional filter by guardrail type: RUN_TIME or DESIGN_TIME",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "RUN_TIME",
                "DESIGN_TIME"
              ]
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occurred, Please contact administrator"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResolvedGuardrailDetails"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Application not found"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "AttributeValue": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ConfigAttribute": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "minValue": {
            "type": "number"
          },
          "maxValue": {
            "type": "number"
          },
          "step": {
            "type": "number"
          },
          "source": {
            "type": "string"
          },
          "deny": {
            "$ref": "#/components/schemas/AttributeValue"
          },
          "conditionalAllow": {
            "$ref": "#/components/schemas/AttributeValue"
          }
        }
      },
      "ConfigJson": {
        "type": "object",
        "properties": {
          "config": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ConfigAttribute"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        }
      },
      "GuardrailConfigAttribute": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "selectedValue": {
            "$ref": "#/components/schemas/SelectedValue"
          }
        }
      },
      "GuardrailEndpoint": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "timeoutMs": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "JsonNode": {
        "type": "object"
      },
      "PolicyStoreGuardrailConfigItem": {
        "type": "object",
        "properties": {
          "guardrailId": {
            "type": "string"
          },
          "guardrailName": {
            "type": "string"
          },
          "activeVersionId": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "ruleId": {
            "type": "string"
          },
          "templateId": {
            "type": "string"
          },
          "attributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GuardrailConfigAttribute"
            }
          },
          "version": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ResolvedGuardrailDetails": {
        "type": "object",
        "properties": {
          "guardrailRuleId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "regoPolicy": {
            "type": "string"
          },
          "configJson": {
            "$ref": "#/components/schemas/ConfigJson"
          },
          "mode": {
            "type": "string"
          },
          "guardrailId": {
            "type": "string"
          },
          "guardrailName": {
            "type": "string"
          },
          "version": {
            "type": "integer",
            "format": "int64"
          },
          "category": {
            "type": "string",
            "enum": [
              "AI",
              "STANDARD",
              "BOTH"
            ]
          },
          "aiStage": {
            "type": "string",
            "enum": [
              "ENTRY",
              "EXIT",
              "BOTH"
            ]
          },
          "engine": {
            "type": "string",
            "enum": [
              "OPA",
              "IBAC",
              "EXTERNAL_WEBHOOK"
            ]
          },
          "endpoint": {
            "$ref": "#/components/schemas/GuardrailEndpoint"
          }
        }
      },
      "SelectedValue": {
        "type": "object",
        "properties": {
          "deny": {
            "$ref": "#/components/schemas/AttributeValue"
          },
          "conditionalAllow": {
            "$ref": "#/components/schemas/AttributeValue"
          }
        }
      }
    }
  }
}
