{
  "openapi": "3.0.3",
  "info": {
    "title": "Guardrail Rules API",
    "description": "APIs to create, update, test, draft, list, and delete guardrail rules and guardrail violations.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.app.reva.ai",
      "description": "Production"
    },
    {
      "url": "https://api.preview.reva.ai",
      "description": "Preview"
    },
    {
      "url": "https://api.dev.reva.ai",
      "description": "Development"
    }
  ],
  "tags": [
    {
      "name": "Guardrail Rules",
      "description": "Manage guardrail rules, drafts, tests, and violations."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/rule": {
      "get": {
        "tags": [
          "Guardrail Rules"
        ],
        "summary": "List guardrail rules",
        "description": "Returns all guardrail rules.",
        "operationId": "listGuardrailRules",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occurred, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Guardrail Rules"
        ],
        "summary": "Create guardrail rule",
        "description": "Creates a new guardrail rule.",
        "operationId": "createGuardrailRule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occurred, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/rule/{id}": {
      "get": {
        "tags": [
          "Guardrail Rules"
        ],
        "summary": "Get guardrail rule by ID",
        "description": "Returns a guardrail rule by ID.",
        "operationId": "getGuardrailRuleById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INVALID.REQUEST",
                  "message": "Rule Id is invalid"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Rule not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occurred, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Guardrail Rules"
        ],
        "summary": "Delete guardrail rule",
        "description": "Deletes a guardrail rule by ID.",
        "operationId": "deleteGuardrailRule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INVALID.REQUEST",
                  "message": "Rule Id is invalid"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Rule not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occurred, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Guardrail Rules"
        ],
        "summary": "Update guardrail rule",
        "description": "Updates a guardrail rule.",
        "operationId": "updateGuardrailRule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occurred, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/rule/draft": {
      "put": {
        "tags": [
          "Guardrail Rules"
        ],
        "summary": "Create guardrail rule draft",
        "description": "Creates a draft version of a guardrail rule.",
        "operationId": "createGuardrailRuleDraft",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occurred, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/rule/draft/{id}": {
      "get": {
        "tags": [
          "Guardrail Rules"
        ],
        "summary": "Get guardrail rule draft",
        "description": "Returns draft rules for the given draft ID.",
        "operationId": "getGuardrailRuleDraftById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "POLICY",
                "ACCESS_MAP"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RuleResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occurred, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Guardrail Rules"
        ],
        "summary": "Delete guardrail rule draft",
        "description": "Deletes a guardrail rule draft by ID.",
        "operationId": "deleteGuardrailRuleDraft",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INVALID.REQUEST",
                  "message": "Rule Id is invalid"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Rule not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occurred, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Guardrail Rules"
        ],
        "summary": "Update guardrail rule draft",
        "description": "Updates an existing guardrail rule draft.",
        "operationId": "updateGuardrailRuleDraft",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "RESOURCE.NOT.FOUND",
                  "message": "Draft not found"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INVALID.REQUEST",
                  "message": "Request body is invalid"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occurred, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/rule/test": {
      "post": {
        "tags": [
          "Guardrail Rules"
        ],
        "summary": "Test guardrail rule",
        "description": "Tests a guardrail rule against selected application environments.",
        "operationId": "testGuardrailRule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestRuleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TestRuleResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occurred, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/rule/refresh": {
      "post": {
        "tags": [
          "Guardrail Rules"
        ],
        "operationId": "refreshGuardrailRuleEvaluation",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Refresh guardrail rule evaluation",
        "description": "Refreshes guardrail rule evaluation results.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/rule/fetch": {
      "post": {
        "tags": [
          "Guardrail Rules"
        ],
        "operationId": "fetchGuardrailRulesByIds",
        "parameters": [
          {
            "name": "ruleCategory",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RuleResponse"
                  }
                }
              }
            }
          }
        },
        "summary": "Fetch guardrail rules by IDs",
        "description": "Fetches guardrail rules for the supplied list of rule IDs. Optionally filter by rule category.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/rule/{name}/check": {
      "get": {
        "tags": [
          "Guardrail Rules"
        ],
        "summary": "Check guardrail rule name",
        "description": "Checks whether a guardrail rule name is available.",
        "operationId": "checkGuardrailRuleName",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateNameValidationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/rule/violation": {
      "get": {
        "tags": [
          "Guardrail Rules"
        ],
        "summary": "List guardrail violations",
        "description": "Lists guardrail violations. Optionally filter by rule ID.",
        "operationId": "listGuardrailViolations",
        "parameters": [
          {
            "name": "ruleId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ViolationInsightResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/rule/policy-store/{id}": {
      "get": {
        "tags": [
          "Guardrail Rules"
        ],
        "summary": "List policy-store guardrail rules",
        "description": "Returns guardrail rules linked to a policy store.",
        "operationId": "listPolicyStoreGuardrailRules",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "POLICY",
                "ACCESS_MAP"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RuleResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "key": "INTERNAL.SERVER.ERROR",
                  "message": "Some error has occurred, Please contact administrator"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ApplicationEnvironment": {
        "type": "object",
        "properties": {
          "applicationId": {
            "type": "string"
          },
          "env": {
            "type": "string"
          }
        }
      },
      "DuplicateNameValidationResponse": {
        "type": "object",
        "properties": {
          "isValid": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        }
      },
      "Remediation": {
        "type": "object",
        "properties": {
          "errorMessage": {
            "type": "string"
          },
          "remediationMethod": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RemediationMethod"
            }
          }
        }
      },
      "RemediationMethod": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "RuleDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "POLICY",
              "ACCESS_MAP"
            ]
          },
          "ruleStatus": {
            "type": "string",
            "enum": [
              "ENFORCE",
              "DISABLE",
              "MONITOR"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "ENABLED",
              "IN_PROGRESS",
              "DRAFT"
            ]
          },
          "ruleCategory": {
            "type": "string",
            "enum": [
              "VIOLATION",
              "WARNING"
            ]
          },
          "owner": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "assignedTo": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "severity": {
            "type": "string",
            "enum": [
              "HIGH",
              "MEDIUM",
              "CRITICAL"
            ]
          },
          "compliance": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "code": {
            "type": "string"
          },
          "remediation": {
            "$ref": "#/components/schemas/Remediation"
          },
          "disabled": {
            "type": "boolean"
          }
        }
      },
      "RuleResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "baseRuleId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "POLICY",
              "ACCESS_MAP"
            ]
          },
          "ruleStatus": {
            "type": "string",
            "enum": [
              "ENFORCE",
              "DISABLE",
              "MONITOR"
            ]
          },
          "ruleCategory": {
            "type": "string",
            "enum": [
              "VIOLATION",
              "WARNING"
            ]
          },
          "owner": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "severity": {
            "type": "string",
            "enum": [
              "HIGH",
              "MEDIUM",
              "CRITICAL"
            ]
          },
          "compliance": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "code": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ENABLED",
              "IN_PROGRESS",
              "DRAFT"
            ]
          },
          "assignedTo": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "remediation": {
            "$ref": "#/components/schemas/Remediation"
          },
          "ruleCategoryCount": {
            "type": "integer",
            "format": "int64"
          },
          "systemTag": {
            "type": "string",
            "enum": [
              "CUSTOM",
              "DEFAULT"
            ]
          },
          "createdOn": {
            "type": "string",
            "format": "date-time"
          },
          "updatedOn": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string"
          },
          "updateBy": {
            "type": "string"
          },
          "disabled": {
            "type": "boolean"
          },
          "hasDraft": {
            "type": "boolean"
          }
        }
      },
      "TestRuleRequest": {
        "type": "object",
        "properties": {
          "applicationEnvironment": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplicationEnvironment"
            }
          },
          "ruleId": {
            "type": "string"
          }
        }
      },
      "TestRuleResponse": {
        "type": "object",
        "properties": {
          "applicationName": {
            "type": "string"
          },
          "env": {
            "type": "string"
          },
          "storeName": {
            "type": "string"
          },
          "policyName": {
            "type": "string"
          },
          "policyDescription": {
            "type": "string"
          }
        }
      },
      "ViolationInsightResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "applicationName": {
            "type": "string"
          },
          "policyName": {
            "type": "string"
          },
          "severity": {
            "type": "string",
            "enum": [
              "HIGH",
              "MEDIUM",
              "CRITICAL"
            ]
          },
          "env": {
            "type": "string"
          },
          "storeName": {
            "type": "string"
          },
          "policyDescription": {
            "type": "string"
          }
        }
      }
    }
  }
}
