{
  "openapi": "3.0.1",
  "info": {
    "title": "PDP Edge Search API",
    "description": "Search subjects, actions, and resources through the PDP Edge service.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.pr06.preview.reva.ai",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Access Search",
      "description": "Search subjects, actions, and resources for access discovery."
    }
  ],
  "paths": {
    "/access/v1/search/action": {
      "post": {
        "tags": [
          "Access Search"
        ],
        "summary": "Search actions",
        "description": "Search for actions that a subject can perform on a resource",
        "requestBody": {
          "description": "Search criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/main.SearchActionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/main.SearchActionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shared.HTTPError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shared.HTTPError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "payload",
        "operationId": "searchActions"
      }
    },
    "/access/v1/search/resource": {
      "post": {
        "tags": [
          "Access Search"
        ],
        "summary": "Search resources",
        "description": "Search for resources that a subject can perform a specific action on",
        "requestBody": {
          "description": "Search criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/main.SearchResourceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/main.SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shared.HTTPError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shared.HTTPError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "payload",
        "operationId": "searchResources"
      }
    },
    "/access/v1/search/subject": {
      "post": {
        "tags": [
          "Access Search"
        ],
        "summary": "Search subjects",
        "description": "Search for subjects that can perform a specific action on a resource",
        "requestBody": {
          "description": "Search criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/main.SearchSubjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/main.SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shared.HTTPError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shared.HTTPError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "payload",
        "operationId": "searchSubjects"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "main.Context": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string"
          }
        }
      },
      "main.EntityNameReference": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "main.EntityReference": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "main.EntityTypeReference": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          }
        }
      },
      "main.PageInfo": {
        "type": "object",
        "properties": {
          "next_token": {
            "type": "string"
          }
        }
      },
      "main.SearchActionRequest": {
        "type": "object",
        "properties": {
          "context": {
            "$ref": "#/components/schemas/main.Context"
          },
          "resource": {
            "$ref": "#/components/schemas/main.EntityReference"
          },
          "subject": {
            "$ref": "#/components/schemas/main.EntityReference"
          }
        }
      },
      "main.SearchActionResponse": {
        "type": "object",
        "properties": {
          "page": {
            "$ref": "#/components/schemas/main.PageInfo"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/main.SearchNameResult"
            }
          }
        }
      },
      "main.SearchNameResult": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "main.SearchResourceRequest": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/main.EntityNameReference"
          },
          "context": {
            "$ref": "#/components/schemas/main.Context"
          },
          "resource": {
            "$ref": "#/components/schemas/main.EntityTypeReference"
          },
          "subject": {
            "$ref": "#/components/schemas/main.EntityReference"
          }
        }
      },
      "main.SearchResponse": {
        "type": "object",
        "properties": {
          "page": {
            "$ref": "#/components/schemas/main.PageInfo"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/main.SearchResult"
            }
          }
        }
      },
      "main.SearchResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "main.SearchSubjectRequest": {
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/main.EntityNameReference"
          },
          "context": {
            "$ref": "#/components/schemas/main.Context"
          },
          "resource": {
            "$ref": "#/components/schemas/main.EntityReference"
          },
          "subject": {
            "$ref": "#/components/schemas/main.EntityTypeReference"
          }
        }
      },
      "shared.HTTPError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    }
  }
}
